@model Person

<h1>Create User</h1>

@* 
asp-action Determina a 'action' que vai manipular o form
asp-controller Determina o 'controller' que vai manipular o form (PeopleController -> Escrevemos 'People')
*@

<form asp-action="CreateUser" asp-controller="People" method="post">

    <label>Name:</label>
    <input type="text" asp-for="Name"/>

    <br />

    <label>Surname:</label>
    <input type="text" asp-for="Surname" />

    <br />

    <button type="submit">Create</button>
</form>